############
# Secrets
# YOU MUST CHANGE THESE BEFORE GOING INTO PRODUCTION
############

POSTGRES_PASSWORD=DATABASE_PASSWORD_ATLEAST_THIS_BIG
# Generate the JWT_SECRET,ANON_KEY and SERVICE_ROLE_KEY from the following website
# https://supabase.com/docs/guides/self-hosting/docker#generate-api-keys
JWT_SECRET=JWT_SECRET_KEY_ATLEAST_THIS_BIG
# {
#   "role": "anon",
#   "iss": "Issuer_Claim_Name",
#   "iat": 1696975200,
#   "exp": 1854828000
# }
ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.ewogICJyb2xlIjogImFub24iLAogICJpc3MiOiAia3J1c2lsIiwKICAiaWF0IjogMTY5Njk3NTIwMCwKICAiZXhwIjogMTg1NDgyODAwMAp9.Sz-y5aWKck19fL20KRPcYE8MPp_X_gMmkSkq71anGL4
# {
#   "role": "service_role",
#   "iss": "Issuer_Claim_Name",
#   "iat": 1696975200,
#   "exp": 1854828000
# }
SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.ewogICJyb2xlIjogInNlcnZpY2Vfcm9sZSIsCiAgImlzcyI6ICJrcnVzaWwiLAogICJpYXQiOiAxNjk2OTc1MjAwLAogICJleHAiOiAxODU0ODI4MDAwCn0.KYVe_tpV9EeBsoHmMjStAduzY7-wcrUodOE7DBxnecQ

# Write a user and password to acces the localhost:8000 user dashboard
DASHBOARD_USERNAME=ADMIN_USER_1
DASHBOARD_PASSWORD=ADMIN_PASSWORD_1

############
# Database - You can change these to any PostgreSQL database that has logical replication enabled.
############

POSTGRES_HOST=db
POSTGRES_DB=postgres
POSTGRES_PORT=5432
# default user is postgres

############
# API Proxy - Configuration for the Kong Reverse proxy.
############

KONG_HTTP_PORT=8000
KONG_HTTPS_PORT=8443


############
# API - Configuration for PostgREST.
############

PGRST_DB_SCHEMAS=public,storage,graphql_public


############
# Auth - Configuration for the GoTrue authentication server.
############

## General
SITE_URL=http://localhost:3000
ADDITIONAL_REDIRECT_URLS=
JWT_EXPIRY=7200
DISABLE_SIGNUP=false
API_EXTERNAL_URL=http://localhost:8000

## Mailer Config
MAILER_URLPATHS_CONFIRMATION="/auth/v1/verify"
MAILER_URLPATHS_INVITE="/auth/v1/verify"
MAILER_URLPATHS_RECOVERY="/auth/v1/verify"
MAILER_URLPATHS_EMAIL_CHANGE="/auth/v1/verify"

## Email auth - Change it in production with real smtp server
ENABLE_EMAIL_SIGNUP=true
ENABLE_EMAIL_AUTOCONFIRM=false
SMTP_ADMIN_EMAIL=admin@example.com
SMTP_HOST=supabase-mail
SMTP_PORT=2500
SMTP_USER=fake_mail_user
SMTP_PASS=fake_mail_password
SMTP_SENDER_NAME=fake_sender

## Phone auth
ENABLE_PHONE_SIGNUP=true
ENABLE_PHONE_AUTOCONFIRM=true


############
# Studio - Configuration for the Dashboard
############

STUDIO_DEFAULT_ORGANIZATION=ADMIN_ORGANIZATION_NAME
STUDIO_DEFAULT_PROJECT=ADMIN_DEFAULT_PROJECT_NAME

STUDIO_PORT=3000
# replace if you intend to use Studio outside of localhost
SUPABASE_PUBLIC_URL=http://localhost:8000

# Enable webp support
IMGPROXY_ENABLE_WEBP_DETECTION=true

############
# Functions - Configuration for Functions
############
# NOTE: VERIFY_JWT applies to all functions. Per-function VERIFY_JWT is not supported yet.
FUNCTIONS_VERIFY_JWT=true

############
# Logs - Configuration for Logflare
# Please refer to https://supabase.com/docs/reference/self-hosting-analytics/introduction
############

LOGFLARE_LOGGER_BACKEND_API_KEY=ADMIN_PASSWORD_LOGFLARE_LOGGER_CUSTOM_API_KEY

# Change vector.toml sinks to reflect this change
LOGFLARE_API_KEY=ADMIN_PASSWORD_LOGFLARE_CUSTOM_API_KEY

# Docker socket location - this value will differ depending on your OS
DOCKER_SOCKET_LOCATION=/var/run/docker.sock

# Google Cloud Project details - Uncomment to use Big Query backend for analytics
# GOOGLE_PROJECT_ID=GOOGLE_PROJECT_ID
# GOOGLE_PROJECT_NUMBER=GOOGLE_PROJECT_NUMBER
